@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.adamina-regular {
  font-family: "Adamina", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Adamina", serif;
}

.title {
    margin: 40px 20px 40px 20px;
}